@namespace TTT
<td class="gameCellWhite" @onclick="Clicked">@Data</td>

@code {

  [Parameter]
  public int Row { get; set; }

  [Parameter]
  public int Col { get; set; }

  [Parameter]
  public string Data { get; set; } = "";

  [Parameter]
  public EventCallback<GameCell> OnPlayed { get; set; }

  async Task Clicked() => await OnPlayed.InvokeAsync(this);
}
